# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 8

print(number)

# shift + enter will also run things in Jupyter Notebook

8

##### Assinging float

In [1]:
numberFloat = 2.3
print(numberFloat)

numberFloat = 3.14
print(numberFloat)

2.3
3.14

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 3
num2 = 4.5

result = num1 + num2

print(result)

#Shorthand version
result += 2.5 # result = result + 2.5

print(result)

7.5
10.0

##### Subtraction

In [11]:
result_diff = num2 - num1
print(result_diff)

#Shorthand
result_diff -= 0.5
print(result_diff)

0

##### Multiplication

In [12]:
result_mul = num1 *num2

print(result_mul)

#shorthand
result_mul *=2
print(result_mul)

9
18

##### Division

In [13]:
result_div = num1 *num2

print(result_div)

#shorthand
result_div *=2
print(result_div)

9
18

##### Floor Division

In [14]:
result_floor = num2 // num1

print(result_floor)

#shorthand
result_floor //=2
print(result_floor)

1

##### Modulo

In [17]:
result_mod = num2 % num1
print(result_mod)

result_mod = 5 % 3
print(result_mod)

0
2

##### Exponential

In [18]:
square = 5 ** 2

print(square)

25

### String Input-Output

##### String Assignment

In [2]:
# If it is in quotes, it is a string.

name = 'Terrell'
print(name)

Terrell

##### print() <br>
<p>Don't forget about end=' '</p>

In [3]:
# Print is a built-in function in python. The parenthesis reveal that print is a function.

print('This is my name:', name)

print('Full name:', name,end=" McKinney")

This is my name: Terrell
Full name: Terrell McKinney

##### String Concatenation

In [22]:
first_name = 'Rick'
last_name = 'Sanchez'

full_name = first_name + " " + last_name

print(full_name)

# Shorthand
full_name += " Jr."
print(full_name)

Rick Sanchez
Rick Sanchez Jr.

##### Type Conversion

In [ ]:
num = "32"

type(num)

change_num_type = int(num)
print(type(num))
print(type(change_num_type))

##### input()

In [4]:
# Input will always be returned. Always.

age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

What is your age?: 10
11

##### format()

In [5]:
age = input('What is your age?')

result_string = 'You are {} {} and you are getting wiser!'.format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!"
print(result_again)

What is your age?11
You are 11 Terrell and you are getting wiser!
11 is a great time in life!!

##### Old Way (python 2)

In [36]:
result_string2 = 'You are %s and you look great for your age!' %age
print(result_string2)

You are 30 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
car_color = input("What is your favorite car color?")
car_year = input("What year?")
car_year = input("What is your favorite make?")
car_model = input("What is your favorite model?")

### If Statements

In [6]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print('Not Equal')
    
if num2 >= num1:
    print('Num2 is greater')
else:
    print('Num 1 is less')

Not Equal
Num2 is greater

##### 'is' keyword

In [8]:
num3 = 55

if num3 is 55:
    print('This is the exact same number/object')

This is the exact same number/object

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-8-f80a99eae42b>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [10]:
char_name = "John Wick"

if "John" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [12]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('a is not here... Mario all day')

a is not here... Mario all day

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [19]:
#isp = input("Please input a word: ")
#if "p" in isp:
#    print(isp)
#else:
#    print("lol no p")

word_input = input("Please input a word: ")
if 'p' in word_input:
    print("This word contains 'p'")
else: 
    print("This word does not contain 'p'")

Please input a word: Jimmy page
This word contains 'p'

## Using 'and'/'or' with If Statements

In [21]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statement
if num_11/5 == num_12 and num_13 - 7 == num_14:
    print("True on both counts, my dude")

# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False, paradox friend")

True on both counts, my dude
True and False, paradox friend

### Elif Statements

In [24]:
first_name = "John"

if first_name == 'Wick':
    print("The name is Wick, John Wick")
elif first_name != 'John':
    print("The name is not John")
else:
    print("The name is John")

The name is John

### Else Statements

In [ ]:
# see above

### For Loops

In [31]:
# To use a for loop, use keyword for. A for loop iterates over something.
# You can loop lists and strings plus a some other things.

# for keyword, counter, in keyword, condition

# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Joel Carter"

for letter in name:
    print(letter)

for i in range(len(name)):
    print(i)
    print(name[i])

J
o
e
l

C
a
r
t
e
r
0
J
1
o
2
e
3
l
4

5
C
6
a
7
r
8
t
9
e
10
r

##### Using 'in' keyword

In [26]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Continue Statement

In [ ]:
# will continue to next iteration

##### Break Statement

In [30]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

##### Double For Loops

In [27]:
for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ", j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [32]:
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [33]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [34]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [35]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [36]:
# Check length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [ ]:
# Requires docstring

##### isinstance()

In [38]:
print(isinstance(4.5,int))

print(isinstance(4.5,float))

False
True

##### abs()

In [40]:
# | -5 |

print(abs(-6))

6

### Try and Except

In [41]:
# use whenever you expect to encounter a bug so that the error doesn't 
# cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Guess a Number4.0
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

##### Indexing a List

In [44]:
names = ["Jimmy", "Andrew", "Nora", "Jack", "John", "Wick"]

# Print from index 1 to end
print(names[1:])

# Start from beginning to specified index position.
print(names[:2])

# start at specified index and go by 2 to the end
print(names[1::2])

# print from end to reverse
print(names[::-1])

['Andrew', 'Nora', 'Jack', 'John', 'Wick']
['Jimmy', 'Andrew']
['Andrew', 'Jack', 'Wick']
['Wick', 'John', 'Jack', 'Nora', 'Andrew', 'Jimmy']

##### .append()

In [45]:
names.append('Cliff')
print(names)

['Jimmy', 'Andrew', 'Nora', 'Jack', 'John', 'Wick', 'Cliff']

##### .insert()

In [46]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Jimmy', 'Andrew', 'Nora', 'Gabby', 'Jack', 'John', 'Wick', 'Cliff']

##### .pop()

In [47]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

print(names.pop(2))

Nora


##### .remove()

In [48]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'Jimmy' in names:
    names.remove('Jimmy')
print(names)

['Andrew', 'Gabby', 'Jack', 'John', 'Wick', 'Cliff']

##### del()

In [49]:
del(names[1])
print(names)

['Andrew', 'Jack', 'John', 'Wick', 'Cliff']

##### Concatenating Two Lists

##### Lists Within Lists

##### Looping Through Lists

the index is:  0 The value is:  Andrew
the index is:  1 The value is:  Jack
the index is:  2 The value is:  John
the index is:  3 The value is:  Wick
the index is:  4 The value is:  Cliff

In [51]:
# Looping using enumerate
for index,value in enumerate(names):
    print("the index is: ", index, 'The value is: ', value)

the index is:  0 The value is:  Andrew
the index is:  1 The value is:  Jack
the index is:  2 The value is:  John
the index is:  3 The value is:  Wick
the index is:  4 The value is:  Cliff

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [52]:
list_b = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
for i in list_b:
    if i**(3) <= 1000:
        print(i**3)
    else:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
list_b = []
for n in range(100):
    if n > 1:
        for i in range(2,n):
            if i > 1:
                if (n % i) == 0:
                    break
        else: 
            if n not in list_b:
                list_b.append(n)

print(list_b)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [14]:
age = int(input("What is your age?"))
if age < 18:
    print("kids")
if age > 65:
    print("seniors")
if 66 > age > 17:
    print("adults")

What is your age?17
kids